<% post.comments.order(id: :desc).each do |comment| %>
    <% next unless comment.persisted? %>
    <li class="list-row border-b last:border-b-0">
      <%= link_to user_path(comment.user), class: "block" do %>
        <%= render "shared/avatar", user: comment.user %>

      <div class="flex-1 min-w-0">
        <div class="font-semibold truncate"><%= comment.user.username.capitalize %></div>
      <% end %>
        <p class="list-col-wrap text-xs">
          <%= comment.content %>
        </p>
      </div>
      <div class="p-4 pb-2 text-xs opacity-60 tracking-wide">
        <%= time_ago_in_words(comment.created_at) %> ago
      </div>
    </li>
<% end %>
