<div class="mt-5">
  <ul class="list bg-base-100 px-5">
    <div class="flex justify-center items-center p-4 mb-2">
      <li class="text-lg font-semibold text-center text-shadow-md tracking-wide">Friend List</li><span class="text-base ms-2"><%= current_user.friends.count %> friends</span>
    </div>
    <% if @friends.any? %>
      <% @friends.each do |friend| %>
        <% friendship = Friendship.find_by(
             "(asker_id = :current AND receiver_id = :friend) OR (asker_id = :friend AND receiver_id = :current)",
             current: current_user.id, friend: friend.id
           ) %>

        <li class="list-row gap-4 p-2 mb-2 bg-base-200">
          <div class="flex items-center">
            <div class="avatar">
              <%= render "shared/avatar", user: friend %>
            </div>
            <div>
              <div>
                <%= link_to friend.username.capitalize, user_path(friend), class: "font-semibold hover:underline" %>
              </div>
              <div class="text-[11px] font-semibold opacity-60">
                Friends since <%= time_ago_in_words(friendship.updated_at) %> ago
              </div>
            </div>
            </div>
            <div class="absolute top-4 right-2">
              <%= render "shared/unfriend", friendship: friendship, friend: friend %>
            </div>
        </li>
      <% end %>
    <% else %>
      <li class="p-4 text-sm text-center text-gray-500">You have no friends yet.</li>
    <% end %>
    <div class="fixed bottom-20">
      <%= link_to "â† Back to your profile", user_path(current_user), class: "btn bg-base-100 border-white btn-sm" %>
    </div>
  </ul>

</div>
