<div class="mt-30">
  <ul class="list bg-base-100 rounded-box shadow-md">
    <li class="p-4 pb-2 text-[14px] opacity-90 tracking-wide">Friend List</li>

    <% if @friends.any? %>
      <% @friends.each do |friend| %>
        <% friendship = Friendship.find_by(
             "(asker_id = :current AND receiver_id = :friend) OR (asker_id = :friend AND receiver_id = :current)",
             current: current_user.id, friend: friend.id
           ) %>

        <li class="list-row flex items-center gap-4 p-4 border-t border-base-200">
          <div class="avatar">
            <%= render "shared/avatar", user: friend %>
          </div>
          <div>
            <div>
              <%= link_to friend.username.capitalize, user_path(friend), class: "font-semibold hover:underline" %>
            </div>

              <div class="text-[11px] font-semibold opacity-60">
                Friends since <%= time_ago_in_words(friendship.updated_at) %> ago
              </div>
              <div class="">
                <%= render "shared/unfriend", friendship: friendship, friend: friend %>
              </div>
          </div>
        </li>
      <% end %>
    <% else %>
      <li class="p-4 text-sm text-center text-gray-500">You have no friends yet.</li>
    <% end %>
  </ul>

  <div class="mt-6">
    <%= link_to "â† Back to your profile", user_path(current_user), class: "btn btn-outline btn-sm" %>
  </div>
</div>
