<div class="navbar bg-base-200 w-full py-0 border-b">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
             viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-200 rounded-box z-1 mt-5 w-52 p-2 shadow">
        <li><%= link_to "My profil", user_path(current_user) %></li>
        <li><%= link_to "Account settings",  edit_user_registration_path(current_user) %></li>
        <li><%= button_to 'Sign out', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <%= link_to root_path do %>
      <%= image_tag "logo-listen.png", alt: "Logo", class: "h-[80px] w-auto mx-auto" %>
    <% end %>
  </div>
  <div class="navbar-end">
    <button class="btn btn-ghost btn-circle">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /> </svg>
    </button>
    <button class="btn btn-ghost btn-circle">
      <div class="indicator" id="notification-indicator">
        <%= link_to notifications_path do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />  </svg>
        <% end %>
        <%= turbo_stream_from "notifications_#{current_user.id}_indicator", id: "notification_indicator_stream" %>
        <%= render "notifications/notification_indicator", user: current_user %>
      </div>
    </button>
  </div>
</div>

<div style="background-color: var(--color-neutral);" class="fixed bottom-0 left-0 w-full bg-primary text-white z-50">
  <div class="flex justify-between items-center px-6 py-2">

    <div class="pl-3">
      <%= link_to posts_path, class: "flex items-center justify-center" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
        </svg>
      <% end %>
    </div>

    <%= link_to new_post_path, class: "bg-white text-primary rounded-full p-2 shadow-md hover:scale-110 transition" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
    <% end %>

    <div class="pr-3">
      <%= link_to user_path(current_user), class: "flex items-center justify-center" do %>
        <%= render "shared/avatar", user: current_user, class: "w-7 h-7 rounded-full border border-white" %>
      <% end %>
    </div>

  </div>
</div>
