
<div class="flex items-center justify-center bg-base-200 mb-6">
  <div class="flex flex-col gap-6">
    <fieldset class="fieldset bg-base-100 border-base-300 rounded-box w-xs border p-4">
      <legend class="fieldset-legend">Make a post</legend>
        <%= simple_form_for :formulaire_test, data: { controller: "track-select" } do |f| %>
        <%= f.input :title, label: "Titre du post :", input_html: {class:"mb-3 focus:outline-none"} %>
        <%= f.input :content, label: "Exprime ton émotion", input_html: {class:"resize-none mb-3"} %>


        <%= f.label :track_search, "Choisis une musique" %>
        <input type="text" class="input input-bordered w-80 max-w-full mb-5" data-track-select-target="input" placeholder="Tape un titre ou artiste..." />

        <ul id="track-results" data-track-select-target="results"></ul>

        <%= f.input :iframe_url, as: :hidden, input_html: { data: { track_select_target: "iframe" } } %>

        <%= f.button :submit, "Publier", class: "btn btn-primary w-80" %>
      <% end %>

    </fieldset>
 </div>
</div>
