<div class="flex items-center justify-center bg-base-100 my-15">
  <div class="flex flex-col gap-6">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 shadow-2xl">
      <legend class="fieldset-legend text-lg">New post</legend>

      <div data-controller="track-select">
        <%= simple_form_for @post do |f| %>
          <%= f.input :content, label: "Share your thoughts", input_html: {class:"resize-none"} %>
          <%= f.input :mood, label: "Mood*", as: :select, collection: Post::MOODS %>
          <%= f.label :track_search, "Pick a song*", class:"text-sm" %>

          <div class="relative">
            <input
              type="text"
              class="input input-bordered w-80 max-w-full"
              data-track-select-target="input"
              data-action="input->track-select#search"
              placeholder="Type a song title or an artist"
            />
            <ul data-track-select-target="results" class="absolute z-50 mt-1 w-full border border-primary bg-base-200 rounded-xl shadow-lg divide-y divide-base-300 overflow-hidden hidden"></ul>
          </div>
          <%= f.input :track_id, as: :hidden, input_html: { data: { track_select_target: "iframe" } } %>
          <%= f.input :cover_url, as: :hidden, input_html: { data: { track_select_target: "cover" } } %>
          <%= f.button :submit, "Post", class: "btn btn-primary w-80 mt-4" %>
        <% end %>
      </div>
    </fieldset>
  </div>
</div>
