<div class="card">
  <h1><%= @post.user.username %>'s <%= @post.mood %> mood</h1>
    <p><%= @post.content %></p>
    <img src="<%= @post.cover_url %>" alt="" >
  </div>


<div>
  <img src="<%= @post.cover_url %>" alt="" >
</div>

<h2>Check out this awesome track!</h2>

<%= render partial: "reactions/button", locals: { post: @post } %>

  <h2><strong>Comments</strong></h2>
  <%= render @post.comments %>

  <br>

  <%= simple_form_for [@post, @comment] do |f| %>
    <%= f.input :content, label: false, placeholder: 'Leave a comment' %>
    <%= f.submit "Send", class: "btn btn-primary" %>
  <% end %>

</div>
