<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <%# <%= favicon_link_tag 'favicon.png' %>

    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:image" content="<%= meta_image %>">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-base-100">
    <% unless devise_controller? && (controller_name == 'sessions' || controller_name == 'registrations') %>
      <%= render "shared/navbar" %>
    <% end %>
    <div class="pb-19">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
  </body>
</html>
