<!DOCTYPE html>
<html>
  <head>
    <title>ListenTogether</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-base-100">
    <% unless devise_controller? && (controller_name == 'sessions' || controller_name == 'registrations') %>
      <%= render "shared/navbar" %>
    <% end %>
    <div class="pb-19">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
  </body>
</html>
